# Ignore vscode specificities
.vs
.vscode
# Dissertation.code-workspace

# Ignore MacOs .ds files
.DS_Store

# Ignore database
generation_system/data/database

# Ignore pycache
*.pyc
generation_system/*/__pycache__
.pytest_cache

